@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
@import "tailwindcss";

html,
body,
#root {
  background: black;
  color: white;
  font-family: "Syne Mono", monospace;
}

